.example-container
{
    height: calc(100vh - 62px);
}
.example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .example-sidenav {
    padding: 20px;
    display: flex;
    width: max-content;
    flex-direction: column;
  }
  .example-sidenav a
  {
      margin-top: 15px;
      display: block;
  }
  table {
    margin: 0 auto;
    width: calc(100% - 30px);
  }
  .filter-adduser{
      padding: 30px;
      display: flex;
      justify-content: space-between;
  }