.example-container
{
    height: calc(100vh - 62px);
}
.example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .example-sidenav {
    padding: 20px;
    display: flex;
    width: max-content;
    flex-direction: column;
  }
  .example-sidenav a
  {
      margin-top: 15px;
      display: block;
  }
.adduser{
  margin: 50px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.adduser h2
{
  text-align: center;
}
.adduser .input-fields
{
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.adduser .input-fields label
{
  font-size: 18px;
  margin: 5px 15px;
  align-self: center;
}
.adduser .input-fields input
{
  height: 30px;
    width: 168px;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    position: relative;
    background: transparent;
    color: #000;
    font-size: 17px;
}
.adduser .input-fields mat-select
{
  width: 168px;
}
.adduser button{
  justify-self: center;
  width: max-content;
  align-self: center;
}