
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Login">
        <div *ngIf="loading" class="login-loading"><div class="loader"></div></div>
        <form class="login" (ngSubmit)="login($event)" [formGroup]="loginform">
            <div class="form-inputs">
                <label for="username">Username</label>
                <input type="text" name="email" id="loginusername" placeholder="Username" formControlName="username" required>
                <span class="text-muted" *ngIf="loginform.get('username').hasError('required') && loginform.get('username').touched">Username is required</span>
            </div>
            <div class="form-inputs">
                <label for="password">Password</label>
                <input type="password" name="password" id="loginpassword" placeholder="Password" formControlName="password" required>
                <span class="text-muted" *ngIf="loginform.get('password').hasError('required') && loginform.get('password').touched">Password is required</span>
            </div>
            
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginform.valid">Login</button>
        </form>
    </mat-tab>
    <mat-tab label="Sign Up">
        <form class="SignUp" (ngSubmit)="signup($event)" [formGroup]="signupform">
            <div class="form-inputs">
                <label for="username">Username</label>
                <input type="text" name="email" id="signupusername" placeholder="Username" formControlName="username" required>
                <span class="text-muted" *ngIf="signupform.get('username').hasError('required') && signupform.get('username').touched">Username is required</span>
            </div>
            <div class="form-inputs">
                <label for="password">Password</label>
                <input type="password" name="password" id="signuppassword" placeholder="Password" formControlName="password" required>
                <span class="text-muted" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">Password is required</span>
            </div>
            <div class="form-inputs">
                <label for="conpassword">Confirm Password</label>
                <input type="password" name="conpassword" placeholder="Confirm Password" required>
               
            </div>
            <button mat-raised-button color="primary" [disabled]="!signupform.valid">SignUp</button>
        </form>
    </mat-tab>
    <mat-tab label="Admin">
        <div *ngIf="loading" class="login-loading"><div class="loader"></div></div>
        <form class="admin" (ngSubmit)="adminlogin($event)" [formGroup]="loginform">
            <div class="form-inputs">
                <label for="username">Username</label>
                <input type="text" name="username" id="adminusername" placeholder="Username" formControlName="username" required>
                <span class="text-muted" *ngIf="loginform.get('username').hasError('required') && loginform.get('username').touched">Username is required</span>
            </div>
            <div class="form-inputs">
                <label for="password">Password</label>
                <input type="password" name="password" id="adminpassword" placeholder="Password" formControlName="password" required>
                <span class="text-muted" *ngIf="loginform.get('password').hasError('required') && loginform.get('password').touched">Password is required</span>
            </div>
            
            <button mat-raised-button color="primary" [disabled]="!loginform.valid">Login</button>
        </form>
    </mat-tab>
  </mat-tab-group>
